MyWebSite/Connected Services/WCFServiceProxy/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service" elementFormDefault="qualified" targetNamespace="http://service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:28060/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="value" nillable="true" type="q1:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="GetDataResult" nillable="true" type="q2:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="value" nillable="true" type="q3:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="AsyncGetDataResult" nillable="true" type="q4:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAsyncGetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="value" nillable="true" type="q5:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuperAsyncGetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="SuperAsyncGetDataResult" nillable="true" type="q6:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>