MyWebSite/Connected Services/WCFServiceProxy/Service2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://service/Imports">
      <xsd:import schemaLocation="http://localhost:28060/Service2.svc?xsd=xsd0" namespace="http://service" />
      <xsd:import schemaLocation="http://localhost:28060/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:28060/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService2_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_AsyncGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:AsyncGetData" />
  </wsdl:message>
  <wsdl:message name="IService2_AsyncGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsyncGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_SuperAsyncGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:SuperAsyncGetData" />
  </wsdl:message>
  <wsdl:message name="IService2_SuperAsyncGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuperAsyncGetDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://service/IService2/GetData" message="tns:IService2_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://service/IService2/GetDataResponse" message="tns:IService2_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsyncGetData">
      <wsdl:input wsaw:Action="http://service/IService2/AsyncGetData" message="tns:IService2_AsyncGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://service/IService2/AsyncGetDataResponse" message="tns:IService2_AsyncGetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SuperAsyncGetData">
      <wsdl:input wsaw:Action="http://service/IService2/SuperAsyncGetData" message="tns:IService2_SuperAsyncGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://service/IService2/SuperAsyncGetDataResponse" message="tns:IService2_SuperAsyncGetData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>